#name {
   width: 200px;
   background-color: turquoise;
   color: white;
   font-size: 40px;
   font-weight: bold;
   display: inline;
   padding: 30px;
   text-decoration: none;
   line-height: 80px;
   font-family: serif;
}

nav {
    float: right;
}

a {
   display: inline-block;
   text-decoration: none;
   color: darkgrey;
   font-family: sans-serif;
   padding: 30px;
   font-size: 20px;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
}

section {
    background-color: white;
    padding: 30px; 
    border: 50px solid #f2f2f2;
}

.container {
   height: 90px;
}

h1 {
    color: turquoise;
    font-size: 30px;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
    border-top: 10px solid turquoise;
}

